{% extends "layout.html" %}
{% block content %}
<h1 class="text-danger">Stock</h1>
<table class="table table-bordered table-striped">
    <thead class="table-danger">
        <tr><th>SKU</th><th>Descripción</th><th>Cantidad</th><th>Unidad</th><th>Ubicación</th></tr>
    </thead>
    <tbody>
        {% for item in stock %}
        <tr>
            <td>{{ item.sku }}</td>
            <td>{{ item.desc }}</td>
            <td>{{ item.qty }}</td>
            <td>{{ item.unit }}</td>
            <td>{{ item.loc }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
